{% extends 'layouts/base.html.twig' %}


{% block content %}


	<h1 class="text-center mt-5">
		Pokedex
	</h1>


	<div class="container">

		<div class="row">

			{% for pokemon in pokemones.pokemon_entries %}

				<div class=" col-sm-12 col-md-6 col-xl-3 text-center">

					<div class="card mt-2">

						{% if  pokemon.entry_number|length == 3 %}

							{% set url = 'imagenes/'~ pokemon.entry_number ~'.png'  %}

						{% endif %}

						{% if  pokemon.entry_number|length == 2 %}

							{% set url = 'imagenes/0'~ pokemon.entry_number ~'.png'  %}

						{% endif %}

						{% if  pokemon.entry_number|length == 1 %}

							{% set url = 'imagenes/00'~ pokemon.entry_number ~'.png'  %}

						{% endif %}

						<button id="infoPokemon" type="button" class="btn btn-white" data-bs-toggle="modal" data-bs-target="#exampleModal">

							<img src=" {{asset(url)}} " class="card-img-top">
							<hr>
							<div class="card-body">
								<h5 class="card-title text-center"> {{ pokemon.pokemon_species.name }}
								</h5>
							</div>
						</button>

					</div>

				</div>

			{% endfor %}
		</div>

	</div>



	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					...
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>












    <script>

        window.addEventListener('DOMContentLoader', () =>{

            let boton = document.getElementById('infoPokemon')
            let img = document.getElementById('url')
            boton.addEventListener('click', () => {
            // console.log(document.querySelector('img'))
        })
        
        })

    </script>



{% endblock %}
